<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ManagerForOmronFHVisionSystemSimulators.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ManagerForOmronFHVisionSystemSimulators.Properties.Settings>
            <setting name="UIScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>1045</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>1105</value>
            </setting>
            <setting name="SimulatorPath" serializeAs="String">
                <value>C:\Users\GB89\Documents\OMRON FZ</value>
            </setting>
            <setting name="SimulatorsPath" serializeAs="String">
                <value>C:\Users\GB89\Documents\OMRON_FZ_Simulators</value>
            </setting>
            <setting name="SimulatorBackupsPath" serializeAs="String">
                <value>B:\OMRON_FZ_Simulator_Backups</value>
            </setting>
            <setting name="DeleteOnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USBDisksPath" serializeAs="String">
                <value>C:\Users\GB89\Documents\OMRON_FZ_USBDisks</value>
            </setting>
            <setting name="USBDiskBackupsPath" serializeAs="String">
                <value>B:\OMRON_FZ_Simulator_USBDiskBackups</value>
            </setting>
            <setting name="TypesOfAdministrationNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </ManagerForOmronFHVisionSystemSimulators.Properties.Settings>
    </userSettings>
</configuration>